/*Inicio el estilo del sitio*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

body {
    background-color: #F5F5F5;
}

header {
    background-color: #1a8faf;
    padding: 50px 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu .logo {
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #ada7a7;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
}

.content {
    padding: 150px 10px 0px 150px;
}

.inicio {
    display: flex;
    align-items: center;
    text-align: center;
}

.inicio .imgpr {
    width: 500px;
    height: 350px;
}

.inicio .content h1 {
    color: #2c2c2e;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 55px;
}

.inicio .content p {
    margin-top: 25px;
    color: #2c2c2e;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 30px;
}

.inicio .content .btn-1 {
    display: inline-block;
    background-color: #1a8faf;
    border: 1px solid #6ba8b9;
    margin: 35px 10px 0px 0px;
    padding: 15px 25px;
    color: #ffffff;
    border-radius: 25px;
}

.container .info-content .btn-1 {
    display: inline-block;
    padding: 15px 25px;
    margin: 35px 10px 0px 0px;
    border: 1px solid #6ba8b9;
    border-radius: 25px;
    background-color: #1a8faf;
    color: #ffffff;
}


.btn-1:hover {
    background-color: #1a8faf;
}

.services {
    padding: 60px 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.service {
    padding: 25px;
    margin: 0px 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);

}

.service img {
    margin-top: -50px;
    width: 100px;
    height: 100px;
}

.service h3 {
    font-size: 20px;
    color: #0e0e0e;
    margin-bottom: 10px;
}

.service p {
    color: #525254;
    font-size: 16px;
}

nav ul li a.activo {
    background-color: #1a8faf;
}

footer .principal {
    padding: 200px 0px 30px 0px;
    background-image: url(/images/footer.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer .secciones {
    background-color: #1a8faf;
    padding: 10px 0;
}

.info-content {
    display: flex;
}

.info-price {
    padding: 35px;
    text-align: center;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    margin: 0px 150px 0px 0px;
    color: #0e0e0e;
}

.info-price h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.price {
    font-size: 14px;
    color: #525254 !important;
    margin-bottom: 10px;
}

.info-price p {
    font-size: 16px;
    color: #525254;
}

.info-txt {
    margin-left: 35px;
    color: #ffffff;
}

hr {
    margin: 45px 0px;
    border: 0.5px solid #9a9ba8;
}

.enlaces {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.enlaces h3 {
    font-size: 25px;
}

.enlace {
    display: flex;
}

.enlace li a {
    text-align: center;
    display: block;
    margin: 20px;
    color: #ffffff;
}

.enlace li a:hover {
    color: #0EAEF3;
}

/*SECCION SERVICIOS*/

.servicios {
    padding: 80px 0px;
    text-align: center;
    color: #0e0e0e;
}

.portfolios h2 {
    font-size: 55px;
}

.portfolio {
    display: flex;
    align-items: center;
}

.portfolio img {
    width: 350px;
}

.portfolio-1 {
    text-align: left;
    margin-left: 100px;
}

.portfolio-1 h3 {
    font-size: 35px;
    margin-bottom: 15px;
}

.portfolio-1 p {
    font-size: 18px;
    color: #525254;
    margin-bottom: 25px;
}

.portfolio-2 {
    text-align: left;
    margin-right: 100px;
}

.portfolio-2 h3 {
    font-size: 35px;
    margin-bottom: 15px;
}

.portfolio-2 p {
    font-size: 18px;
    color: #525254;
    margin-bottom: 25px;
}

.btn-2 {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 25px;
    background-color: #1a8faf;
    color: #ffffff;
}

.btn-2:hover {
    background-color: #1a8faf;
}

/*SECCION GALERIA*/

.galeria img {
    width: 25%;
    border: 1px solid #ddd;
    padding: 0.3em;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 2%;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.holder h2 {
    padding: 80px 0px;
    font-size: 55px;
    text-align: center;
    color: #0e0e0e;
}

.holder p {
    font-size: 25px;
    color: #525254;
    text-align: center;
    line-height: 30px;
}

/*SECCION CONTACTO*/

video {
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
}

.video h2{
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.informacion {
    padding: 5%;
    display: flex;
    gap: 35px;
}

.informacion div {
    width: 100%;
}

.datos h2 {
    text-align: center;
    line-height: normal;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.datos li {
    list-style-type: disc;
    line-height: 30px;
}

.formulario h2 {
    text-align: center;
    line-height: normal;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form {
    max-inline-size: 550px;
    margin: auto;
}

.form label {
    display: block;
    margin-block-start: 1em;
    margin-block-end: .5em;
    padding-inline-start: .5em;
}

.form label span {
    color: #DA1414;
}

.form input,
.form textarea {
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: .8em;
    border-radius: .5em;
    border: 1px solid #858C94;
}

.form textarea {
    margin-block-end: 2em;
    font-family: inherit;
}

input::-webkit-input-placeholder {
    color: #0F0A0A88;
}

.form button {
    display: inline-block;
    padding: 15px 25px;
    margin-bottom: 30px;
    border-radius: 25px;
    background-color: #1a8faf;
    color: #ffffff;
}

/*RESPONSIVE DEL SITIO*/

@media (max-width: 991px) {
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #1a8faf;
        display: none;
        text-align: center;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
    }

    header {
        height: 0vh;
        padding: 50px 0px;
        background-position: center center;
    }

    .inicio {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 0px 30px;
    }

    .content {
        padding: 0px;
    }

    .content h1 {
        margin-top: 100px;
        font-size: 45px;
    }

    .content p {
        margin-top: 0px;
    }

    .inicio .imgpr {
        margin-top: 10px;
        width: 300px;
        height: 200px;
    }

    .services {
        flex-direction: column;
        padding: 50px 30px 0px 30px;
    }

    .service {
        margin-bottom: 50px;
    }

    .servicios {
        padding: 0px 30px 30px 30px;
    }

    .portfolios h2 {
        margin-bottom: 15px;
        line-height: 50px;
    }

    .portfolio {
        flex-direction: column;
    }

    .portfolio h3 {
        line-height: 30px;
    }

    .portfolio img {
        display: none;
    }

    .portfolio-1 {
        text-align: center;
        margin: 0px 0px 25px 0px;
    }

    .portfolio-2 {
        text-align: center;
        margin: 0px 0px 25px 0px;
    }

    footer .principal {
        padding: 0px 30px 30px 30px;
    }

    footer .secciones {
        padding: 0px 0px 0px 0px;
    }

    .info-content {
        flex-direction: column;
        text-align: center;
    }

    .info-price {
        margin: 0px;
    }

    .info-txt {
        padding-top: 20px;
        text-align: center;
        align-items: center;
    }

    hr {
        margin: 25px 0px;
    }

    .enlaces {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .enlace {
        flex-direction: column;
    }

    .holder .galeria {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .holder .galeria img {
        width: 80%;
        height: 80%;
        margin: 10px
    }

    .holder h2 {
        text-align: center;
        padding: 20px;
        margin: 0px 0px 20px 0px;
        line-height: 50px;
        font-size: 50px;
    }

    .holder p {
        text-align: center;
        margin: 0px 10px 30px 10px;
        line-height: 30px;
    }

    video {
        position: relative;
        width: 100vw;
        height: 60vw;
    }

    .video h2{
        line-height: 40px;
    }

    .informacion {
        flex-direction: column;
        align-items: center;
    }

    .datos li {
        line-height: 30px;
    }

    .datos ul {
        padding: 5%;
    }

    .enlaces h3 {
        line-height: 30px;
    }
}